* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input {
  border: none;
  outline: none;
  display: block;
  background: transparent;
}

button {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 16px;
}

.todo-app {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding-top: 60px;
}
.todo-app .container .card {
  padding: 40px 24px 32px 24px;
  background-color: #fff;
  border-radius: 12px;
  max-width: 100%;
}
.todo-app .container .card .title {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.todo-app .container .card .title .icon img {
  width: 30px;
  margin-left: 12px;
}
.todo-app .container .card .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 32px;
  padding-left: 24px;
  margin-bottom: 12px;
}
.todo-app .container .card .row input {
  flex-grow: 1;
  padding: 12px 12px 12px 0;
  font-size: 14px;
}
.todo-app .container .card .row button {
  padding: 16px 40px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 32px;
  min-width: -moz-max-content;
  min-width: max-content;
}
.todo-app .container .card select {
  width: 100%;
  cursor: pointer;
  padding: 0 16px;
  flex-grow: 1;
  color: #fff;
  background: #403d84;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 32px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../../access/images/dropdown.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-x: calc(100% - 16px);
  background-position-y: center;
  margin-bottom: 24px;
}
.todo-app .container .card #task-list {
  display: grid;
  gap: 6px;
  max-width: 100%;
}
.todo-app .container .card #task-list .task {
  font-size: 16px;
  padding: 12px 8px 12px 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center !important;
  max-width: 100%;
}
.todo-app .container .card #task-list .task .task-name {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-app .container .card #task-list .task.editing {
  padding-bottom: 0px;
}
.todo-app .container .card #task-list .task.editing .task-name-form {
  position: relative;
  display: flex;
  background-color: #edeef0;
  border-radius: 12px;
  width: calc(100% - 60px);
  transform: translate(-34px, -6px);
}
.todo-app .container .card #task-list .task.editing .task-name-form input {
  height: 100% !important;
  width: 100%;
  padding: 6px 0px 6px 12px;
  font-size: 16px;
}
.todo-app .container .card #task-list .task.editing .delete-btn,
.todo-app .container .card #task-list .task.editing .edit-btn,
.todo-app .container .card #task-list .task.editing .task-name,
.todo-app .container .card #task-list .task.editing .play-btn {
  display: none;
}
.todo-app .container .card #task-list .task.editing .close-btn,
.todo-app .container .card #task-list .task.editing .done-btn {
  display: block;
}
.todo-app .container .card #task-list .task.editing::before {
  display: none;
}
.todo-app .container .card #task-list .task .close-btn,
.todo-app .container .card #task-list .task .done-btn,
.todo-app .container .card #task-list .task .task-name-form {
  display: none;
}
.todo-app .container .card #task-list .task .delete-btn,
.todo-app .container .card #task-list .task .edit-btn,
.todo-app .container .card #task-list .task .close-btn,
.todo-app .container .card #task-list .task .done-btn,
.todo-app .container .card #task-list .task .play-btn {
  position: absolute;
  right: 0;
  top: 2px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
.todo-app .container .card #task-list .task .delete-btn:hover,
.todo-app .container .card #task-list .task .edit-btn:hover,
.todo-app .container .card #task-list .task .close-btn:hover,
.todo-app .container .card #task-list .task .done-btn:hover,
.todo-app .container .card #task-list .task .play-btn:hover {
  background-color: #edeef0;
  border-radius: 50%;
}
.todo-app .container .card #task-list .task .delete-btn,
.todo-app .container .card #task-list .task .done-btn {
  right: 0;
}
.todo-app .container .card #task-list .task .edit-btn,
.todo-app .container .card #task-list .task .close-btn {
  right: 40px;
}
.todo-app .container .card #task-list .task .play-btn {
  right: 80px;
  font-size: 24px;
}
.todo-app .container .card #task-list .task::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url("../../access/images/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 4px;
}
.todo-app .container .card #task-list .task.checked {
  color: #555;
  text-decoration: line-through;
}
.todo-app .container .card #task-list .task.checked::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url("../../access/images/checked.png");
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 4px;
}

@media (max-width: 576px) {
  .card .row button {
    padding: 12px 24px !important;
    font-size: 14px !important;
  }
  .card #task-list .task .task-name {
    width: 125px;
  }
}/*# sourceMappingURL=styles.css.map */